<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja Expression Example</title>
</head>
<body>

    <h1>Jinja Expression Example</h1>
    <p>Hello, {{ ur_name }}!</p>
    <p>my name is, {{ my_name }}!</p>

    <h2>Add and substraction</h2>
    <p>allice bought {{orange_ammount}} orange and {{apple_ammount}} apples</p>
    <p>total allice bought is {{ orange_ammount + apple_ammount }}</p>

    <h3>String Jinja</h3>
    <p>president america is {{first_name +" "+ second_name}}</p>
    
</body>
</html>